body{

 }

.btn-group .button {


    display: inline-block;

    margin: 500px;

}



.btn-group .button {

    text-align: center !important;

}

h1{
	text-align:center;
	color:purple;
	
}
h2{

	color:purple;
	
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.boxed {
  border: 1px solid #edebeb  ;
  width:500px;
  background-color:#edebeb;
  
 
}

 
